@page "/home"

<MudText>This is a home page</MudText>
<MudText></MudText>
<i class="flag-icon flag-icon-gb"></i>
<MudText></MudText>
<p style="text-align:center;">
    <img src="/images/Tozawa-Grand_t.png" height="550px" width="950px" alt="products image for the Home component" />
</p>
@code {
    protected override async Task OnInitializedAsync()
    {
    }
}