@page "/counter"
@using TozawaMauiHybrid.Helpers

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p role="status">Store count: @storeCount</p>

@code {
    [Inject]
    private PreferencesStoreClone Storage { get; set; }
    private int currentCount = 0;
    private int storeCount = 0;

    private void IncrementCount()
    {
        currentCount++;
        Storage.Set("mytest", currentCount);
        storeCount = Storage.Get<int>("mytest");
    }
}
