@namespace TozawaNGO.Shared
@using TozawaNGO.Helpers
@inherits BaseComponent
@implements IDisposable

<br />
<br />
<footer class="footer" id="footer">
    <div class="infooter" style="margin-right: 15px;">
        <MudText>Vill du ge en gåva?</MudText>
        <MudText>Bankgiro: xxxx-yyyy</MudText>
        <MudText>Konto: xxxx-yyyy</MudText>
    </div>
    <MudDivider Style="margin-right: 15px;" Vertical="true" FlexItem="true" />
    <div class="infooter" style="margin-right: 15px;">
        <MudText>Följ oss även på:</MudText>
        <div class="d-flex infooterfooter">
            <div>
                <img class="smicon" src="/images/fcbk.png" width="50" height="50" asp-append-version="true" />
            </div>
            <div>
                <img class="smicon" src="/images/insta.png" width="50" height="50" asp-append-version="true" />
            </div>
            <div>
                <img class="smicon" src="/images/ytb.png" width="50" height="50" asp-append-version="true" />
            </div>
            <div>
                <img class="smicon" src="/images/twt.png" width="50" height="50" asp-append-version="true" />
            </div>
        </div>
    </div>
    <MudDivider Style="margin-right: 15px;" Vertical="true" FlexItem="true" />
    <div class="infooter">
        <MudText>Copyright © 2024-2025 NGO tozawarafiki, Örebro, Sweden</MudText>
        <MudText>Tallrisvägen 15L, 702 34 Örebro, Sweden</MudText>
        <MudText>tozawainfo@gmail.com</MudText>
        <MudText>Tel. +46 70 6xt 1d 5y</MudText>
    </div>
</footer>