@inherits BaseComponentLayout
@implements IDisposable
@namespace TozawaNGO.Shared
@using TozawaNGO.Helpers

<MudThemeProvider Theme="_currentTheme" />
<MudSnackbarProvider />

<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.ExtraSmall" CloseButton="true" DisableBackdropClick="false"
    NoHeader="false" Position="DialogPosition.TopCenter" />

<MudLayout @onkeypress="RefreshTimer" Class="@($"mainpage {_disableAttrString}")" @onmousemove="RefreshTimer">
    <AppBar OnSidebarToggled="ToggleSidebar" OnThemeToggled="ToggleTheme" />

    <NavMenu SideBarOpen="_sidebarOpen" />
    <LoadingScreen>
        <MudMainContent Class="tz-main pageBody pt-16 px-16">
            <MudContainer Class="tz_content mt-3">
                @Body
               
                <ErrorBoundary>
                    <ChildContent>
                       
                    </ChildContent>
                    <ErrorContent>
                        <p class="errorUI">
                            <SystemText TextId=SystemTextId.ErrorOccursPleaseContactSupport
                                FallbackText="Opps, something went wrong. Please contact support!" IsFirstLoaded="@IsFirstLoaded"></SystemText>
                        </p>
                    </ErrorContent>
                </ErrorBoundary>
                <Footer></Footer>
            </MudContainer>
        </MudMainContent>
    </LoadingScreen>
</MudLayout>
