@page "/accessdenied"

@using TozawaNGO.Helpers
@using TozawaNGO.Shared

<h1>
    <SystemText TextId=SystemTextId.Sorry FallbackText="Sorry"></SystemText>
</h1>
<p>
    <SystemText TextId=SystemTextId.YoureNotAuthorizedToReachThisPage
        FallbackText="You are not authorized to reach this page."></SystemText>
</p>
<p>
    <SystemText TextId=SystemTextId.YouMayNeedToLogInAsADifferentUser
        FallbackText="You may need to log in as a different user."></SystemText>
</p>

@code {

}