@using TozawaNGO.Helpers
@using TozawaNGO.Shared

<p>
    <SystemText TextId=SystemTextId.ThereIsNothingAtThisAdress FallbackText="Sorry, there's nothing at this address.">
    </SystemText>
</p>

@code {
}