@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

@font-face {
    font-family: 'Tozawa';
    src: url('./Tozawa-font/Tozawa.WOFF');
}

@font-face {
    font-family: 'Gotham Narrow Black';
    font-style: normal;
    font-weight: 300;
    src: local('Gotham Narrow-Black'), local('Gotham Narrow-Black'), url('./GothamNarrowFont/GothamNarrow-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham Narrow Book';
    font-style: normal;
    font-weight: 400;
    src: local('Gotham Narrow-Book'), local('GothamNarrow-Book'), url('./GothamNarrowFont/GothamNarrow-Book.otf') format('opentype');
}

@font-face {
    font-family: 'Gotham Narrow Medium';
    font-style: normal;
    font-weight: 700;
    src: local('Gotham Narrow-Medium'), local('GothamNarrow-Medium'), url('./GothamNarrowFont/GothamNarrow-Medium.otf') format('opentype');
}

:root {
    /*  Automotive main colors           */
    --shade1-color: #003876;
    --shade2-color: #002662;
    --primary-color: #00498B;
    --tint1-color: #015FA5;
    --tint2-color: #0072BC;
    --tint3-color: #5BA4D3;
    --tint4-color: #A3CDE7;
    --tint5-color: #DAEBF5;

    /*  Status Colors OK/Approve         */
    --shade1-ok-color: #07663A;
    --shade2-ok-color: #054D2C;
    --primary-ok-color: #09814A;
    --tint1-ok-color: #309566;
    --tint2-ok-color: #59AA85;
    --tint3-ok-color: #94C8B0;
    --tint4-ok-color: #C3E0D3;
    --tint5-ok-color: #E7F3ED;

    /*  Status Colors Warning/Pending    */
    --shade1-warning-color: #CA9406;
    --shade2-warning-color: #997005;
    --primary-warning-color: #FFBA08;
    --tint1-warning-color: #FFC635;
    --tint2-warning-color: #FFD361;
    --tint3-warning-color: #FFE193;
    --tint4-warning-color: #FFEEC3;
    --tint5-warning-color: #FFF8E7;

    /*  Status Colors Error/Cancel       */
    --shade1-error-color: #9A0110;
    --shade2-error-color: #74010C;
    --primary-error-color: #C20114;
    --tint1-error-color: #CD2F3E;
    --tint2-error-color: #D85D69;
    --tint3-error-color: #E49099;
    --tint4-error-color: #F0C1C6;
    --tint5-error-color: #F9E6E8;

    /*  Text color                       */
    --text-color: #212121;

    /*  Background*/
    --background-light: #F8F8F7;
    --expanded-menu: #E8E9EA;
}

html,
body,
#app {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: var(--background-light);
    height: 100vh;
    margin: 0;
}

a,
.btn-link {
    color: var(--primary-color);
}

h1 {
    color: var(--text-color);
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]):not([type=radio]) {
    box-shadow: 0 0 3px var(--shade1-ok-color);
}

.invalid {
    box-shadow: 0 0 3px var(--primary-error-color);
}

.validation-message {
    color: var(--primary-error-color);
}

.btn-primary {
    color: var(--primary-color);
    background-color: var(--tint5-color);
    border-color: var(--shade1-color);
}

#blazor-error-ui {
    background: var(--primary-error-color);
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.modal-header .close {
    margin-top: -27px;
    color: #fff;
}

.modal-body {
    color: #888;
    padding: 5px 35px 20px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.panel-default {
    border-color: #e5e7e8;
}

.panel-default>.panel-heading,
.modal-header {
    height: 30px;
    padding: 20px;
    background-color: #18456b;
    color: white;
}

.panel-body {
    padding: 10px;
}

.panel-title,
.modal-title {
    margin-top: -10px;
    font-size: 16px;
    ;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

input[type="file"] {
    padding: 0.2rem 0.75rem;
}

input::-webkit-file-upload-button {
    color: var(--primary-color);
    background-color: var(--tint5-color);
    border: 1px solid var(--shade1-color);
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

input::-webkit-file-upload-button:focus {
    box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
}

input::-webkit-file-upload-button:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.text-icon {
    position: relative;
    top: 5px;
}

/* MudDialog-Section Bigin */

.mud-dialog {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
}

.mud-dialog>.mud-dialog-title>.mud-button-root {
    color: white;
}

.mud-dialog-title {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #09090a;
    color: #fff;
}

/* MudDialog-Section End */

.mud-tabs {
    width: 100%;
}

/* Aticle-Section Bigin */
.tz-main {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.tz-main>.tz-content {
    flex: 1 0 auto;
}

/* Article-Section End */

/* Footer-Section Bigin */

.tz-main>footer {
    background-color: black;
    flex-shrink: 0;
    margin-top: 2vh;
}

.tz_footer {
    justify-content: center;
    margin: auto;
    margin-bottom: 2vh;
}

.tz-div-space:not(:first-child):not(:last-child) {
    margin-left: 20vh;
    margin-right: 20vh;
}

.tz-div-space-icontext:not(:first-child):not(:last-child) {
    margin-left: 20vh;
    margin-right: 20vh;
}

.tz-foot-links {
    color: #878787;
}

.tz-foot-links:hover {
    color: #ff5e14;
}

.tz-foot-text {
    word-wrap: break-word;
}

.tz-max-div-text {
    margin-left: 0.5vh;
    margin-top: 0.5vh;
    max-width: 30vh;
    width: 30vh
}

.tz-email-foot {
    background-color: aliceblue;
    width: 30vh;
}

/* Footer-Section End */