@namespace TozawaMauiHybrid.Component
@using TozawaMauiHybrid.Helpers
@inherits BaseDialog<ExpireModal>
@implements IDisposable

<style>
    .tz-mud-overlay {
        background: repeating-linear-gradient(135deg, #ccc, #ccc 10px, #aaa 10px, #aaa 20px) !important;
        opacity: 0.7 !important;
    }
</style>

<MudDialog Class="tzModal">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Filled.Logout" Class="mr-3 mb-n1" />
            <span>
                <SystemText TextId=SystemTextId.Logout FallbackText="long out">
                </SystemText>
            </span>
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudText>
            <SystemText TextId=SystemTextId.YoureAboutToGetLogout FallbackText="You are about to ge log out">
            </SystemText>
        </MudText>
        <MudText Typo="Typo.h3">@Counter</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Variant="Variant.Filled" OnClick="Cancel">
            <SystemText TextId=SystemTextId.StayLogIn FallbackText="Stay login">
            </SystemText>
        </MudButton>
        <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="Confirm">
            <SystemText TextId=SystemTextId.Logout FallbackText="long out"></SystemText>
        </MudButton>
    </DialogActions>
</MudDialog>