@if (isLoaded)
{
    @ChildContent
}
else
{
    <div class="ta-loading loading" style="width: 250px;">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex align-center">
                    <MudProgressCircular Style="@($"color: {"#ff5e14"};")" Size="Size.Medium" Indeterminate="true" />
                    <h3>
                        <img src="/images/Tozawa-Text-Picture-No-Background-White.png" height="50px" width="150px"
                        alt="loading tozawa image" />
                    </h3>
                </div>
            </div>
        </div>
    </div>
}

@code {
    bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Task.Delay(4000); // TODO actual initialization job
            isLoaded = true;
            StateHasChanged();
        }
    }
}