@inherits LayoutComponentBase
@implements IDisposable
@namespace Tozawa.Client.Portal.Shared
@using HttpClients.Helpers

<MudThemeProvider Theme="_currentTheme" />
<MudSnackbarProvider />

<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.ExtraSmall" CloseButton="true" DisableBackdropClick="false"
    NoHeader="false" Position="DialogPosition.TopCenter" />

<MudLayout @onkeypress="RefreshTimer" @onmousemove="RefreshTimer">
    <AppBar OnSidebarToggled="ToggleSidebar" OnThemeToggled="ToggleTheme" />

    <NavMenu SideBarOpen="_sidebarOpen" />

    <MudMainContent Class="tz-main pt-16 px-16">
        <MudContainer Class="tz-content mt-6">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent>
                    <p class="errorUI">
                        <SystemText TextId=SystemTextId.ErrorOccursPleaseContactSupport
                            FallbackText="Opps, something went wrong. Please contact support!"></SystemText>
                    </p>
                </ErrorContent>
            </ErrorBoundary>

            <button id="tz-add">Add Content</button>
        </MudContainer>
        <Footer />
    </MudMainContent>
</MudLayout>
