@page "/"
@namespace TozawaNGO.Pages
@inherits BasePage
@implements IDisposable

<style>
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: serif;
    letter-spacing: 2px;
    font-size: 30px;
  }
</style>

<PageTitle>Home</PageTitle>

<ErrorHandling TCategoryName=@typeof(Home)>
  <ChildContent>
    <div class="d-flex flex-column flex-grow-1 gap-4">
      <div class="d-flex flex-grow-1 gap-4" style="width: 100%; height: 40%; background-color: #f6e8db;">
        <div class="flex-none d-flex" style="height: 100%;">
          <img style="max-height: 100%;" src="/images/@_image" asp-append-version="true" />
        </div>
        <div class="flex-1 d-flex" style="height: 100%;">
          <div class="d-flex flex-column flex-grow-1 gap-4">
            <div class="d-flex">
              <MudText Typo="Typo.h3">
                <b>
                  Chez nous vous trouvez une maison
                </b>
              </MudText>
            </div>
            <div class="d-flex">
              <MudText Typo="Typo.h5">
                Ensemble, nous faisons de Kinshasa une ville avec des quartiers animés,
                des environnements magnifiques et une population diversifiée.
                Dans une ville que nous aimons. Bienvenue à la maison.
              </MudText>
            </div>
            <div class="d-flex">
              <MudText Typo="Typo.h4">
                <b>
                  Libre actuelement
                </b>
              </MudText>
            </div>
            <div class="d-flex">
              <MudText>
                Cherchez vous une maison, une parcelle, un appartement ou un entrepot?
                Chez nous c'est facile de chercher et de trouver.
              </MudText>
            </div>
            <div class="d-flex flex-row flex-grow-1 gap-4" style="width: 100%; height: 15%;">
              <div>
                <MudButton StartIcon="@Icons.Material.Filled.Search" Color="Color.Secondary" Variant="Variant.Filled">
                  Recherchez
                </MudButton>
              </div>
              <div>
                <MudButton StartIcon="@Icons.Material.Filled.PersonAddAlt1" Color="Color.Secondary"
                  Variant="Variant.Filled">
                  Enregistrez-vous
                </MudButton>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mud-theme-secondary" style="width: 100%; height: 25%;"></div>
      <div class="mud-theme-secondary" style="width: 100%; height: 25%;"></div>
      <div class="mud-theme-secondary" style="width: 100%; height: 25%;"></div>
    </div>
  </ChildContent>
  <ErrorContent Context="ex">
    @string.Empty
  </ErrorContent>
</ErrorHandling>
