@namespace Tozawa.Language.Client.Shared
@implements IDisposable

<MudDialog>
    <TitleContent>
        <MudText Typo = "Typo.h6">
                <MudIcon Icon= "@Icons.Filled.Logout" Class= "mr-3 mb-n1" />
            <span>Logout</span>
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudText>You're about to get logged out.</MudText>
        <MudText Typo="Typo.h3">@Counter</MudText>
    </DialogContent>
    <DialogActions>
        <MudButton Variant= "Variant.Filled" OnClick= "Cancel">
            Stay log in
        </MudButton>
            <MudButton Color = "Color.Error" Variant= "Variant.Filled" OnClick= "Confirm" >
                long out
            </MudButton>
    </DialogActions>
</MudDialog>