@namespace TozawaNGO.Pages
@using ShareRazorClassLibrary.Helpers
@using TozawaNGO.Shared
@inherits BaseDialog

<MudDialog Class="tzModal">
    <TitleContent>
        <MudText Color=Color.Secondary>
            @Title
        </MudText>
    </TitleContent>
    <DialogContent>
        <div style="overflow: auto; max-height: 800px;">
            <MudTextField Margin="Margin.Dense" T="string" Text="@Entity.Description"
                Label="@(Translate(SystemTextId.Description))" Lines="5" Disabled />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton StartIcon="@Icons.Material.Filled.Close" Variant="Variant.Filled" Color="Color.Primary" OnClick="Cancel">
            <SystemText TextId=SystemTextId.Close FallbackText="Close" />
        </MudButton>
    </DialogActions>
</MudDialog>
